# Final code:

In [27]:
import requests
import json
import pandas as pd

In [41]:
origin = "NQZ"
destination = "ALA"
month = "2020-09-10"
url_initial = "http://api.travelpayouts.com/v2/prices/month-matrix?currency=kzt&origin={}&destination={}&show_to_affiliates=false&month={}&token=200a89e6d3c3eea2c02ea3b8e200e629"

url_needed = url_initial.format(origin, destination, month)

response = requests.request("GET", url)
data = json.loads(response.text)

prices = []
from_ = []
to_ = []
dates = []
trip_class = []
duration = []
distance = []

for i in data["data"]:
    prices.append(i["value"])
    from_.append(i["origin"])
    to_.append(i["destination"])
    dates.append(i["depart_date"])
    trip_class.append(i["trip_class"])
    duration.append(i["duration"])
    distance.append(i["distance"])

dictionary = {"Date": dates, "Price": prices, "From": from_, "To": to_, "Class": trip_class, "Duration": duration, "Distance": distance}

df = pd.DataFrame(dictionary)

In [39]:
df.head()

         Date     Price From   To  Class  Duration  Distance
0  2020-09-08  18770.26  NQZ  ALA      0       100       958
1  2020-09-09  15634.43  NQZ  ALA      0       105       958
2  2020-09-10  15835.66  NQZ  ALA      0       105       958
3  2020-09-11  18798.21  NQZ  ALA      0        95       958
4  2020-09-12  15835.66  NQZ  ALA      0       100       958